header
  h1 mui
  ui-button.icon(target="index")
    i.icon-home
  ui-button.icon
    i.icon-twitter
    ui-tooltip(direction="bottom")
      span Tweet
  ui-button.icon
    i.icon-code-fork
    ui-tooltip(direction="bottom")
      span Fork at Github
  ui-button.components
    | Components
    i.icon-chevron-down
    ui-dropdown
      ui-option
        a(target="components/button")
          | Button
      ui-option
        a(target="components/modal")
          | Modal
      ui-option
        a(target="components/dropdown")
          | Dropdown
      ui-option
        a(target="components/select")
          | Select
      ui-option
        a(target="components/tooltip")
          | Tooltip