script(type='text/javascript', src='/vendor/shims.js')
script(type='text/javascript', src='/vendor/style-html.js')
link(rel='stylesheet', type='text/css', href='/vendor/redacted/stylesheet.css')
link(rel='stylesheet', type='text/css', href='/themes/flat/theme.scss')
link(rel='stylesheet', type='text/css', href='/index.css')

script(type='text/javascript', src='/core/ui.coffee')
script(type='text/javascript', src='/core/abstract.coffee')
script(type='text/javascript', src='/core/i-openable.coffee')
script(type='text/javascript', src='/core/i-input.coffee')
script(type='text/javascript', src='/components/ui-button/component.coffee')
script(type='text/javascript', src='/components/ui-checkbox/component.coffee')
script(type='text/javascript', src='/components/ui-dropdown/component.coffee')
script(type='text/javascript', src='/components/ui-form/component.coffee')
script(type='text/javascript', src='/components/ui-label/component.coffee')
script(type='text/javascript', src='/components/ui-modal/component.coffee')
script(type='text/javascript', src='/components/ui-option/component.coffee')
script(type='text/javascript', src='/components/ui-text/component.coffee')
script(type='text/javascript', src='/components/ui-email/component.coffee')
script(type='text/javascript', src='/components/ui-pager/component.coffee')
script(type='text/javascript', src='/components/ui-password/component.coffee')
script(type='text/javascript', src='/components/ui-select/component.coffee')
script(type='text/javascript', src='/components/ui-textarea/component.coffee')
script(type='text/javascript', src='/components/ui-tooltip/component.coffee')