!!! 5
html
  head
    include partials/includes
    script(type='text/javascript', src='/site.coffee')

body
  ui-pager(name="main")
    ui-page(name="index")
      .intro
        h1 mui
        h2 Modern Interfaces for the Modern Web
        a(target='components')
          span
            i.icon-th
            | Components
        a(target='extending')
          span
            i.icon-code-fork
            | Extending
        .container
          span(name='button')
            ui-button Button
          span(name='tooltip')
            ui-tooltip(open='true', direction='top')
              div Tooltip
          span(name='checkbox')
            ui-checkbox(checked='true')
          span(name='select')
            ui-select
              ui-label
              ui-dropdown
                ui-option Select
                ui-option(value='option1') Option 1
    ui-page(name="components")
      ui-pager
        ui-page(name="index")
          .container
            h1 Components
            a(target="components/button")
              .ic
                ui-button(type="info") Button
              | Button
            a(target="components/checkbox")
              .ic
                ui-checkbox(checked='true')
              | checkbox
            a(target="components/modal")
              .ic
                .modal
                  .content Content content content
              | Modal
            a(target="components/dropdown")
              .ic
                ui-button(type="success")
                  | butt
                  i.icon-chevron-down
              | Dropdown
            a(target="components/select")
              .ic
                ui-button
                  | butt
                  i.icon-chevron-down
              | Select
            a(target="components/tooltip")
              .ic
                ui-tooltip(open="true", direction="top", disabled="true")
                  div tootlipaaaa
              | Tooltip
        ui-page(name="button")
          include components/ui-button/index
        ui-page(name="modal")
          include components/ui-modal/index
        ui-page(name="dropdown")
          include components/ui-dropdown/index
        ui-page(name="select")
          include components/ui-select/index
        ui-page(name="tooltip")
          include components/ui-tooltip/index
        ui-page(name="checkbox")
          include components/ui-checkbox/index
      - title = 'Components'
      include partials/header