@import url(http://fonts.googleapis.com/css?family=Nova+Round);

body {
  padding: 0;
  margin: 0;
  color: #666;
}

b {
  color: #333;
  font-weight: 400;
}

header {
  padding: 20px;
  height: 80px;
}
header h1 {
  float: left;
  color: #ECF0F1;
  margin: 0;
  text-shadow: 0 2px 0 rgba(0,0,0,0.2);
  transition: 320ms;
  opacity: 1;
  font-family: 'Nova Round'
}
header .brand {
}
header h1 span {
}
header h1.hide {
  opacity: 0;
}
header ui-button {
  float: right;
  height: 40px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 10px;
}

ui-button.icon {
  width: 40px;
  padding: 0;
  text-align: center;
}
ui-button.components {
  padding: 0 30px;
}
ui-button.components i{
  margin-left: 15px;
}
ui-button.components ui-option a{
  padding: 0;
  font-size: 16px;
  color: #fff;
}
body > ui-pager {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: #5eade2;
}
body > ui-pager > [name=components] {
  overflow: hidden;
  opacity: 1;
}
body > ui-pager > [name=components] > header{
  transform: translateY(-100%);
  transition: 500ms;
}
body > ui-pager > [name=components][active] > header{
  transform: translateY(0);
  transition: 500ms 320ms;
}
body > ui-pager > [name=components] > ui-pager{
  transform: translateY(100%);
  background: #dbe3e5;
  transition: 500ms;
}
body > ui-pager > [name=components][active] > ui-pager{
  transform: translateY(0);
  transition: 500ms 320ms;
}

body > ui-pager > [name=components] > ui-pager > ui-page{
  transition: 500ms;
  opacity: 1;
}
body > ui-pager > [name=components] > ui-pager > ui-page > .col:first-child{
  opacity: 0;
  transform: translateX(-50%);
  transition: 500ms;
}
body > ui-pager > [name=components] > ui-pager > ui-page > .col:last-child{
  opacity: 0;
  transform: translateX(50%);
  transition: 500ms;
}
body > ui-pager > [name=components][active] > ui-pager > ui-page[active] > .col{
  opacity: 1;
  transform: translateX(0);
  transition: 500ms 500ms;
}

body > ui-pager ui-pager{
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: #ECF0F1;
}

body > ui-pager ui-pager > ui-page {
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: touch;
}

a {
  display: block;
  color: #3498DB;
  text-decoration: none;
  padding: 10px 0;
  font-size: 20px;
}
a[target] {
  cursor: pointer;
}
a i {
  margin-right: 10px;
}


.intro h2:nth-child(2) {
  text-align: center;
  color: #ECF0F1;
  margin-top: 0;
  animation: show 2s 0.6s both;
  margin-bottom: 0;
  text-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
.intro h1 {
  text-align: center;
  color: #ECF0F1;
  font-family: 'Nova Round';
  font-size: 100px;
  margin-top: 60px;
  margin-bottom: 0;
  animation: show 2s 0.3s both;
  text-shadow: 0 5px 0 rgba(0,0,0,0.2);
}

@keyframes animatedBackground {
  from { background-position: 0 bottom; }
  to { background-position: 100% bottom; }
}

@keyframes hover {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes show {
  from {
    transform: translateY(500px)
  }
  50% {
    transform: translateY(-30px)
  }
}

.intro a[target] {
  position: absolute;
  color: #ECF0F1;
  text-align: center;
  font-family: 'Nova Round';
  font-weight: normal;
  text-shadow: 0 3px 0 rgba(0,0,0,0.2);
  font-size: 30px;
}

.intro a[target] i {
  font-size: 100px;
  display: block;
}
.intro a[target=components] {
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -300px;
  animation: show 2s 1s both;
  transform: rotate(-3deg);
}
.intro a span {
  display: block;
}
.intro a[target=components] span {
  animation: hover 1s 0.6s alternate infinite ease-in-out both;
}
.intro a[target=extending] {
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: 160px;
  animation: show 2s 1.2s both;
  transform: rotate(3deg);
}
.intro a[target=extending] span {
  animation: hover 1s 0.3s alternate infinite ease-in-out both;
}
.intro {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #5eade2;
  background-image: url(/images/bg-clouds.png),linear-gradient(#5eade2,#3498DB);
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  animation: animatedBackground 20s linear infinite alternate;
}

.intro .container {
  position: absolute;
  bottom: 300px;
  height: 0;
  left: 50%;
  margin-left: -480px;
}
.intro ui-select {
  animation: hover 1s alternate infinite ease-in-out;
}
.intro ui-checkbox {
  animation: hover 1s 0.6s alternate infinite ease-in-out both;
}
.intro ui-button {
  animation: hover 1s 0.3s alternate infinite ease-in-out both;
}
.intro ui-tooltip {
  animation: hover 1s 0.75s alternate infinite ease-in-out both;
}



.intro .container span {
  display: block;
  position: absolute;
}

span[name=select] {
  right: 0;
  top: 150px;
  transform: rotate(3deg);
  animation: show 2s 0.5s;
}

span[name=checkbox] {
  right: 300px;
  top: 100px;
  transform: rotate(-3deg);
  animation: show 2s 0.8s both;
}

span[name=button] {
  left: 50px;
  top: 170px;
  transform: rotate(-3deg);
  animation: show 2s 0.8s both;
}

span[name=tooltip] {
  left: 300px;
  width: 0;
  height: 0;
  top: 170px;
  transform: rotate(-3deg);
  animation: show 2s 0.8s both;
}

span[name=tooltip] ui-tooltip {
  opacity: 1 !important;
}

.markup {
  position: relative;
}
.markup ui-markup {
  background: none;
}
.col:first-child {
  width: 40%;
  float: left;
  padding: 20px;
  background: #edf1f2;
  height: 100%
}
.col:last-child {
  width: 60%;
  height: 100%;
  float: left;
}
.examples {
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.04);
}
.markup i {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 100px;
  top: 50px;
  color: #c3d0d4;
  left: 0;
}
.container {
  height: 100%;
}

dl {
  margin: 0;
}

.span {
  float: left;
  margin: 10px;
}

.clear {
  clear:  both;
}