.col
  h1 Select
  p This component works like the basic select element, but looks the same in every browser.
  p It uses a label and a dropdown component, it can be seens as a custom component.
  h3 Quirks
  p When the selected option is removed it will select the first option if available.
  h3 API
  dl
    dt
      span.property #
      | value
      span.text  - Selected value
    dt
      span.property #
      | selectedOption
      span.text  - Selected option
    dt
      span.method @
      | selectDefault()
      span.text  - Select by the default algorithm
    dt
      span.method @
      | select(value)
      span.text  - Select by value / element
    dt
      span.event ~
      | change
      span.text  - Fires when the value changes
.col
  .examples
    .span
      ui-select(name='select_2')
        ui-label
        ui-dropdown
          ui-option(value='option_1') Option 1
          ui-option(value='option_2') Option 2
          ui-option(value='option_3') Option 3
    .span
      ui-select(name='select_3', disabled='true')
        ui-label
        ui-dropdown
          ui-option(value='option_1') Option 1
          ui-option(value='option_2', selected='true') Option 2
          ui-option(value='option_3') Option 3
    .clear
  .markup
    ui-markup
      ui-select
        // label for selected text
        ui-label
        // dropdown component for options
        ui-dropdown
          ui-option(value='option_1') Option 1
          ui-option(value='option_2') Option 2
          ui-option(value='option_3') Option 3