.col
  style(type='text/css')
    .ex-tooltip span {
      display: inline-block;
      width: 200px;
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      position: relative;
    }
    .ex-tooltip i {
      margin-right: 10px;
    }
  h1 Tooltip
  p General tooltip component. It can be appended into any element, that is not self closing, and any element can be in the tooltip.
  p Mouse over the parentNode will open the tooltip, mouse out the parentNode will colse the tooltip.
  h3 API
  dl
    dt
      span.property #
      | disabled
      span.text  - Alias for disabled attribute
    dt
      span.property #
      | isOpen
      span.text  - Whether the modal is open or not
    dt
      span.method @
      | close
      span.text  - Close the dropdown
    dt
      span.method @
      | open
      span.text  - Open the dropdown
    dt
      span.method @
      | toggle
      span.text  - Toggle the dropdown
    dt
      span.attribute $
      | direction
      span.text  - top / bottom (default) / left / right
    dt
      span.property #
      | direction
      span.text  - Alias for direction attribute
.col
  .examples.ex-tooltip
    .span
      span
        | Tooltip on left
        ui-tooltip(direction='left')
          div
            i.icon-remove
            | Are your sure?
    .span
      span
        | Tooltip on right
        ui-tooltip(direction='right')
          div
            i.icon-lightbulb
            | Any ideas?
    .clear
    .span
      span
        | Tooltip on bottom
        ui-tooltip(direction='bottom')
          div Here is the sample of talltooltip that contains three lines or more. More.
    .span
      span
        | Tooltip on top
        ui-tooltip(direction='top')
          div
            i.icon-ok
            | You have done well!
    .clear
  .markup
    ui-markup
      // direction can be top / bottom / left / right
      i:tooltip(direction='top')
        // the immediate children are the content
        div
          ui-label You have done well!
