!!! 5
html
  head
    script(type='text/javascript', src='/vendor/shims.js')
    link(rel='stylesheet', type='text/css', href='/flat-ui/theme.css')
    script(type='text/javascript', src='/mui.js')
    script(type='text/javascript', src='/vendor/style-html.js')
    script(type='text/javascript', src='/specs.js')
    link(rel='stylesheet', type='text/css', href='specs.scss')
  body
    .container
      h1 MUI - Kitchen Sink / Specs
      hr
      .component
        ui-label Button
        ui-button Default button
        ui-button(type='info')
          i.icon-question
          span Info button
        ui-button(type='success')
          i.icon-ok
          span Success button
        ui-button(type='warning') Warning button
        ui-button(type='danger') Danger button
        ui-button(type='inverse')
          span Inverse button
          i.icon-chevron-down
        ui-button(disabled) Default button
      .component
        ui-label Modal
        ui-button Open Modal
          ui-modal
            div
              h1 Content
              ui-button Close
      .component
        ui-label Color
        ui-color
      .component
        ui-label
          | Checkbox
          span.extend (i-checkable)
        ui-checkbox
        ui-checkbox(disabled)
      .component
        ui-label
          | Dropdown
          span.extend (i-openable)
        span
          ui-button(type="inverse")
            span Click me!
            ui-dropdown
              ui-option Option 1
            i.icon-chevron-down
      .component
        ui-label Tooltip
        ui-button(type="inverse")
          | Hover me!
          ui-tooltip(direction="top")
            div Tooltip
      .component
        ui-label
          | Toggle
          span.extend (i-checkable)
        ui-toggle
          div ON
          div
          div OFF
        ui-toggle(checked="true", disabled="true")
          div ON
          div
          div OFF
      .component
        ui-label
          | Radio
          span.extend (i-checkable)
        ui-radio(name="radio")
        ui-radio(name="radio", checked="true")
        ui-radio(name="radio")
        .separator
        ui-radio(disabled="true")
        ui-radio(checked="true", disabled="true")
      .component
        ui-label Range
        ui-range(min="-100", max="100", value="0")
          div
            div
        ui-range(min="-100", max="100", value="20",disabled="true")
          div
            div
      .component
        ui-label
          | Slider
          span.extend (ui-range)
        ui-slider(min="-100", max="100", value="-80")
          div
            div
        ui-slider(min="-100", max="100", value="40", disabled="true")
          div
            div
      .component
        ui-label
          | Select
          span.extend (i-openable)
        ui-select
          ui-label
          ui-dropdown
            ui-option(value="option1") Option 1
            ui-option(value="option2", selected="true") Option 2
            ui-option(value="option3") Option 3
        ui-select(disabled)
          ui-label
          ui-dropdown
            ui-option(value="option1") Option 1
      .component
        ui-label(for="text")
          | Text
          span.extend (i-input)
        ui-text(placeholder="Text...",name="text")
      .component
        ui-label
          | Password
          span.extend (ui-text)
        ui-password(placeholder="Password...")
      .component
        ui-label
          | Textarea
          span.extend (i-input)
        ui-textarea(placeholder="Textarea...")