.sidebar {
  box-shadow: -1px 0 0 #555 inset, 2px 0 6px rgba(0,0,0,0.2);
  border-right: 1px solid #444;
  position: absolute;
  background: #333;
  min-width: 200px;
  color: #eee;
  z-index: 1;
  bottom: 0;
  left: 0;
  top: 0;

  .logo, ul {
    box-shadow: 0 -1px 0 #222 inset;
    border-bottom: 1px solid #444;
    text-shadow: 0 -1px 1px #111;
  }

  ul {
    padding: 0;
    margin: 0;

    a { text-decoration: none; }

    li {
      text-shadow: 0 -1px 1px #111;
      font-weight: bold;
      cursor: pointer;
      padding: 10px;
      color: #ddd;

      &:hover { color: #eee }

      i {
        box-shadow: -1px 0 0 #222 inset;
        border-right: 1px solid #444;
        display: inline-block;
        margin-right: 5px;
        font-size: 14px;
        width: 23px;
      }
    }
  }

  .logo {
    font-weight: bold;
    font-size: 22px;
    padding: 10px;

    span {
      font-size: 14px;
      color: #999;
    }
  }
}

ui-pager {
  position: absolute;
  height: auto;
  width: auto;
  left: 200px;
  z-index: 0;
  bottom: 0;
  right: 0;
  top: 0;

  section { max-width: 960px }

  p, section li {
    line-height: 30px;
    font-size: 18px;
  }

  ui-page {
    background: #ECF0F1;
    padding: 0 40px;
    overflow: auto;
    height: 100%;
    width: 100%;
    color: #333;
  }
}

table, pre {
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  border-radius: 2px;
  background: #fff;
  padding: 10px;

  code { padding: 0 }
}

table {
  tr + tr th, td { border-top: 1px solid #eee }
  th, td { padding: 7px 20px; }
}