.col
  style(type='text/css')
    ui-modal > * {
      padding: 20px;
      text-align: center;
    }
    ui-modal h1{
      margin: 0;
      margin-bottom: 20px;
    }
    ui-modal[name=modal2] > * {
      -webkit-transform: perspective(1000px) rotateX(90deg) rotateY(-520deg) scale(0.4);
      -moz-transform: perspective(1000px) rotateX(90deg) rotateY(-520deg) scale(0.4);
      -ms-transform: perspective(1000px) rotateX(90deg) rotateY(-520deg) scale(0.4);
      -o-transform: perspective(1000px) rotateX(90deg) rotateY(-520deg) scale(0.4);
    }
    ui-modal[name=modal2][open] > *{
      opacity: 1;
      -webkit-transform: perspective(1000px);
      -moz-transform: perspective(1000px);
      -ms-transform: perspective(1000px);
      -o-transform: perspective(1000px);
    }
  h1 Modal
  p
    | Customizable dialog functionality.
  p
    | The modal element is the backdrop, all the immediate children are inline-block elements aligned center, thus creating the dialog feel.
  h2 API
  dl
    dt
      span.property #
      | open
      span.text  - Alias for open attribute (boolean)
    dt
      span.method @
      | toggle()
    dd Toggle open / closed state of the modal (toggles attribute "open")
.col
  .examples
    .span
      ui-button.ex(name='modal1') Simple Modal
    .span
      ui-button.ex(name='modal2') Custom Transition
    .clear
  ui-modal(name='modal2')
    div
      h1 Modal
      p This is a modal dialog.
      ui-button.ex(type='danger', name='modal2') Close Modal
  ui-modal(name='modal1')
    div
      h1 Modal
      p This is a modal dialog.
      ui-button.ex(type='danger', name='modal1') Close Modal
  .markup
    ui-markup
      // ui-modal will be the backdrop
      ui-modal
        // the first child will be the content, can be anything
        div
          h1 Modal
          p This is a modal dialog.
          ui-button(type='danger') Close Modal
  script(type='text/javascript')
    document.addEventListener('click',function(e){
      if(e.target.tagName === 'UI-BUTTON' && e.target.classList.contains('ex')){
        modal = document.querySelector('ui-modal[name='+e.target.getAttribute('name')+']')
        modal.toggle()
      }
    })
