.col
  style(type='text/css')
    .dp i {
      float: right;
      margin-left: 10px;
    }
    .dp {
      border: 1px solid #ccc;
      padding: 7px 10px;
      padding-bottom: 10px
      cursor: pointer;
    }
    .dp:hover {
      border: 1px solid #2C3E50;
    }
    .dp.mini {
      width: 100px;
    }
    .dp.limit ui-dropdown {
      max-width: 100px;
      min-width: 50%;
    }
    .dp.transition ui-dropdown {
      opacity: 1;
      transition: 320ms;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    .dp.transition ui-dropdown[open] {
      max-height: 200px;
      transition: 320ms;
    }
  h1 Dropdown
  p Dropdown component for everything.
  p
    | The dropdown can be appended into any element, that is not self closing.
    br
    | Any element can be in the dropdown.
.col
  .examples
    .span
      ui-button
        | Simple Dropdown
        ui-dropdown
          ui-option Item 1
          ui-option Item 2
    .span
      .dp
        | Custom element
        i.icon-chevron-down
        ui-dropdown
          ui-option Item 1
          ui-option Item 2
    .span
      .dp.mini
        | Long...
        i.icon-chevron-down
        ui-dropdown
          ui-option This is some ass long text!
          ui-option Item 2
    .span
      .dp.limit
        | Limited width
        i.icon-chevron-down
        ui-dropdown
          ui-option This is some ass long text!
          ui-option Item 2
    .span
      .dp.transition
        | Custom transition
        i.icon-chevron-down
        ui-dropdown
          ui-option This is some ass long text!
          ui-option Item 2
    .span
      .dp
        | Top...
        i.icon-chevron-down
        ui-dropdown(direction='top')
          ui-option This is some ass long text!
          ui-option Item 2
    .clear
  .markup
    ui-markup
      ui-button(type='info')
        | Open Dropdown
        ui-dropdown
          ui-option Item 1
          ui-option Item 2