#= depend_on ui-button
#= depend_on ui-checkbox
#= depend_on ui-dropdown
#= depend_on ui-modal
#= depend_on ui-select
#= depend_on ui-tooltip
#= depend_on ui-text
#= depend_on ui-email
#= depend_on ui-password
#= depend_on ui-textarea
#= depend_on ui-option
#= depend_on ui-pager
#= depend_on ui-toggle
#= depend_on ui-radio

@import url(http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  color: #333;
  font-family: Lato;
  padding: 30px;
  background-color: #ECF0F1;
}

body * {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  user-select: none;
}

[disabled] {
  opacity: 0.5;
}

ui-input {
	background: #FFF;
	padding: 10px 10px;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	vertical-align: top;
	user-select: auto;
}

ui-input:empty:after {
  content: attr(placeholder);
  color: #ccc;
}

@import "ui-button.scss";
@import "ui-checkbox.scss";
@import "ui-dropdown.scss";
@import "ui-modal.scss";
@import "ui-select.scss";
@import "ui-tooltip.scss";
@import "ui-text.scss";
@import "ui-email.scss";
@import "ui-password.scss";
@import "ui-textarea.scss";
@import "ui-option.scss";
@import "ui-pager.scss";
@import "ui-toggle.scss";
@import "ui-radio.scss";