#= depend_on ./ui-button
#= depend_on ./ui-checkbox
#= depend_on ./ui-dropdown
#= depend_on ./ui-modal
#= depend_on ./ui-select
#= depend_on ./ui-tooltip
#= depend_on ./ui-text
#= depend_on ./ui-email
#= depend_on ./ui-textarea
#= depend_on ./ui-option
#= depend_on ./ui-pager
#= depend_on ./ui-toggle
#= depend_on ./ui-radio
#= depend_on ./ui-range
#= depend_on ./ui-color
#= depend_on ./ui-grid
#= depend_on ./ui-slider

@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$font-size: 14px;
$base-height: 36px;

$border-radius: 3px;

$gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 48%, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.05));
$plastic-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 -1px 1px rgba(0,0,0,0.3) inset, 0 2px 2px rgba(0,0,0,0.15);
$plastic-shadow-active: 0 -1px 2px rgba(255,255,255,0.3) inset, 0 1px 2px rgba(0,0,0,0.1) inset, 0 2px 2px rgba(0,0,0,0.15) inset, 0 2px 2px rgba(0,0,0,0.15);
$text-shadow: 0 1px 1px rgba(0,0,0,0.4);
$text-shadow-inverse: 0 -1px 1px rgba(0,0,0,0.4);
$shadow: 0 2px 5px rgba(0,0,0,0.5);
$shadow-flat: 0 0 10px rgba(0,0,0,0.5);
$inset-shadow: 0 0 10px rgba(0,0,0,0.5) inset;

/* COLORS */
$background-color: #444;
$background-color-hover: #555;
$opaque-color: rgba(0,0,0,0.8);
$color: #ECF0F1;
$info-color: #2980B9;
$info-color-hover: #3498DB;
$success-color: #27AE60;
$success-color-hover: #2ECC71;
$warning-color: #D35400;
$warning-color-hover: #E67E22;
$danger-color: #C0392B;
$danger-color-hover: #E74C3C;
$inverse-color: #ECF0F1;
$inverse-color-hover: #FFFFFF;


body { font-family: Lato; }

body * {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  user-select: none;
}

[disabled] {
  opacity: 0.5;
}

input[type=password] {
  margin: 0;
  line-height: 17px;
}

ui-input, input[type=password] {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  vertical-align: top;
  user-select: auto;

  padding: $base-height / 4;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 0 0 1px #fff, 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  color: #333;

  border-radius: $border-radius;
  font-size: $font-size;
  line-height: $font-size;

  &:focus {
    outline: none;
    border-color: $info-color-hover;
    box-shadow: 0 0 5px rgba($info-color-hover,0.7) inset, 0 0 0 1px rgba(#fff,0.6), 0 0 10px rgba($info-color-hover,0.7);
  }
  &:empty:after {
    content: attr(placeholder);
    color: #bbb;
  }
}


@import "ui-button.scss";
@import "ui-checkbox.scss";
@import "ui-dropdown.scss";
@import "ui-modal.scss";
@import "ui-select.scss";
@import "ui-tooltip.scss";
@import "ui-text.scss";
@import "ui-email.scss";
@import "ui-textarea.scss";
@import "ui-option.scss";
@import "ui-pager.scss";
@import "ui-toggle.scss";
@import "ui-radio.scss";
@import "ui-range.scss";
@import "ui-slider.scss";
@import "ui-color.scss";
@import "ui-grid.scss";