ui-checkbox {

  /* DEFAULTS */
  display: inline-block;
  text-align: center;

  /* DESIGN */
  height: $base-height;
  line-height: $base-height;
  width: $base-height;
  font-size: $font-size;
  border-radius: $border-radius;
  background-image: $gradient;
  box-shadow: $plastic-shadow;
  text-shadow: $text-shadow-inverse;
  color: $color;
  background-color: $background-color;

  /* STATES */
  &:not([disabled]){
    cursor: pointer;
  }
  &:not([disabled]):hover {
    background-color: $background-color-hover;
  }

  /* CHECKMARK */
  &:after{
    color: rgba(255,255,255,0.3);
    content: "\f00c";
    font-family: FontAwesome;
  }
  &[checked]:after{
    color: $color;
  }

}