ui-dropdown {

  /* VARIABLES */
  $dropdown-gap: 3px;
  $dropdown-max-height: 200px;
  $dropdown-z-index: 99999;

  /* DEFAULTS */
  position: absolute;
  min-width: 100%;
  overflow: auto;
  max-height: 0;
  text-shadow: none;
  pointer-events: none;
  z-index: $dropdown-z-index;
  opacity: 0;

  /* DESIGN */
  transform: translateY($dropdown-gap);
  background: $opaque-color;
  border-radius: $border-radius;
  box-shadow: $shadow;
  transition: opacity 160ms, transform 160ms, max-height 1ms 160ms;

  /* DEFAULT STATE */
  margin-top: $dropdown-gap;
  top: 100%;
  left: 0;

  /* TOP */
  &[direction=top] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $dropdown-gap;
    transform: translateY(-$dropdown-gap);
  }

  /* STATES */
  &[open] {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    max-height: $dropdown-max-height;
    transition: opacity 160ms, transform 160ms;
  }

  /* CHILDREN STATES */
  & > *:first-child{
    border-radius: $border-radius $border-radius  0 0;
  }
  & > *:last-child{
    border-radius: 0 0 $border-radius $border-radius;
  }
  & > *:last-child:first-child{
    border-radius: $border-radius;
  }
}
