ui-grid {
  text-align: justify;
  display: block;
  width: 100%;
  font-size: 0.1px;
  ui-cell {
    padding: 10px;
    background: #eee;
  }
  ui-cell, ui-placeholder {
    font-size: 16px;
    display: inline-block;
    min-height: 50px;
  }
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  &[columns="1"] {
    ui-cell, ui-placeholder{
      width: 100%;
      margin-bottom: 1%;
    }
  }
  &[columns="2"] {
    ui-cell, ui-placeholder{
      width: 49%;
      margin-bottom: 2%;
    }
  }
  &[columns="3"] {
    ui-cell, ui-placeholder{
      width: 32%;
      margin-bottom: 2%;
    }
  }
  &[columns="4"] {
    ui-cell, ui-placeholder{
      width: 23%;
      margin-bottom: 2.5%;
    }
  }
  &[columns="5"] {
    ui-cell, ui-placeholder{
      width: 19%;
      margin-bottom: 1%;
    }
  }
}