ui-option {

  /* DEFAULTS */
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  /* DESIGN */
  padding: 0 $base-height / 3;
  height: $base-height / 1.2;
  line-height: $base-height / 1.2;
  color: $color;
  font-weight: bold;

  /* STATES */
  &:hover {
    background: rgba(255,255,255,0.1);
  }
}