/* ANIMATIONS */
@keyframes pager-in {
  from { left: 100%; }
  to   { left: 0;    }
}
@keyframes pager-out {
  from { left: 0%;    }
  to   { left: -100%; }
}

ui-pager {

  /* VARIABLES */
  $pager-width: 320px;
  $pager-height: 480px;

  /* DEFAULTS */
  display: block;
  position: relative;
  overflow: hidden;

  /* DESIGN */
  background: $background-color;
  color: $color;
  width: $pager-width;
  height: $pager-height;

  /* CHILDREN */
  & ui-page {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    left: 100%;
    animation: pager-out 1ms 1 both;
  }
  & ui-page[active] {
    animation: pager-in 1ms 1 both;
  }
}

/* STATES */
body[loaded] ui-page {
  animation: pager-out 320ms 1 both;
}
body[loaded] ui-page[active]  {
  animation: pager-in 320ms 1 both;
}