@keyframes in {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

ui-pager {
  display: block;
  width: 320px;
  height: 480px;
  position: relative;
  overflow: hidden;
  background: #333;
  color: #eee;

  & ui-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    display: block;
    left: 100%;
    animation: out 1ms 1 both;
  }

  & ui-page[active] {
    animation: in 1ms 1 both;
  }
}

body[loaded] ui-page {
  animation: out 320ms 1 both;
}

body[loaded] ui-page[active]  {
  animation: in 320ms 1 both;
}