ui-pager {
  display: block;
  width: 320px;
  height: 480px;
  position: relative;
  overflow: hidden;
  background: #333;
  color: #eee;

  & ui-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: opacity 500ms, z-index 1ms 500ms;
    z-index: -1;
    opacity: 0;
  }

  & ui-page[active] {
    z-index: 9999;
    opacity: 1;
    transition: opacity 500ms 500ms;
  }
}