ui-radio {

	/* DEFAULTS */
	display: inline-block;
	border-radius: 50%;
	position: relative;

	/* DESIGN */
	background-image: radial-gradient($background-color-hover,$background-color);
	width: $base-height;
	height: $base-height;
	box-shadow: $plastic-shadow;

	&:before {
		content: "";
		position: absolute;
		top: $base-height/4;
		left: $base-height/4;
		width: $base-height/2;
		height: $base-height/2;
		border-radius: 50%;
		z-index: 1;
		display: none;
		background: $color;
		box-shadow: $shadow;
	}

	/* STATES */
	&:not([disabled]) {
		cursor: pointer;
	}

	&[checked]:before {
		display: block;
	}
}