ui-radio {
	background: #95A5A6;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}
ui-radio:after {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ECF0F1;
}
ui-radio:before {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	z-index: 1;
	background: #95A5A6;
	display: none;
}
ui-radio[checked] {
	background: #2C3E50;
}
ui-radio[checked]:before {
	background: #2C3E50;
	display: block;
}