ui-range {
  height: 40px;
  min-width: 150px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
	cursor: pointer;
}
ui-range > *:first-child {
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
}
ui-range > *:first-child > *:first-child{
	content: "";
	display: block;
	position: relative;
	left: -10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-color: #2C3E50;
	border-radius: 50%;
}
ui-range:before {
	content: "";
	display: block;
	background-color: #95A5A6;
	height: 12px;
	position: relative;
	top: 14px;
	border-radius: 8px;
}