ui-range {

  /* VARIABLES */
  $range-width: 150px;
  $range-knob-size: 20px;
  $range-track-color: #777;

  /* DEFAULTS */
  display: inline-block;
  position: relative;
  cursor: pointer;

  /* STYLE */
  box-shadow: $inset-shadow;
  background-color: $range-track-color;
  height: $base-height/3;
  border-radius: $base-height/3;
  min-width: $range-width;
  margin: 0 $range-knob-size/2;

  &> *:first-child {
    position: absolute;
    top: 0;
    width: 0;
    height: $base-height / 3;
  }
  /* KNOB */
  & > *:first-child > *:first-child{
    content: "";
    display: block;
    position: relative;
    border-radius: 50%;

    left: -$range-knob-size / 2;
    top: 50%;
    transform: translateY(-50%);
    width: $range-knob-size;
    height: $range-knob-size;
    box-shadow: $shadow;
    background-color: $background-color;

    &:before {
      content: "";
      position: absolute;
      top: $range-knob-size/4;
      left: $range-knob-size/4;
      width: $range-knob-size/2;
      height: $range-knob-size/2;
      border-radius: 50%;
      z-index: 1;
      background: $color;
      box-shadow: $shadow;
    }
  }
}