ui-select {
  background: #2C3E50;
  padding: 0 10px;
  height: 40px;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 160px;
  color: #ECF0F1;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: top;
}
ui-select:not([disabled]):hover {
  background: #34495E;
}
ui-select:after {
  content: "\f078";
  font-family: FontAwesome;
  float: right;
}
ui-select[disabled] {
  opacity: 0.4;
  cursor: auto;
}