ui-toggle {
	border-radius: 3px;
  background-color: #2C3E50;
  display: inline-block;
  height: 35px;
  width: 100px;
	color: #ECF0F1;
	border: 3px solid #2C3E50;
	text-align: center;
	line-height: 29px;
	position: relative;
	cursor: pointer;
}

ui-toggle > * {
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-weight: bold;
	transition: 320ms;
}

ui-toggle > *:nth-child(2) {
	background: #2980B9;
	border-radius: 3px;
	transform: translateX(100%)
}

ui-toggle > *:nth-child(3) {
	transform: translateX(200%)
}

ui-toggle[checked] > *:nth-child(1) {
	transform: translateX(-100%)
}

ui-toggle[checked] > *:nth-child(2) {
	transform: translateX(0%)
}

ui-toggle[checked] > *:nth-child(3) {
	transform: translateX(100%)
}