ui-tooltip {

  /* VARIABLES */
  $tooltip-gap: 10px;
  $tooltip-arrow-size: 6px;
  $tooltip-max-size: 200px;
  $tooltip-color: $opaque-color;

  /* DEFAULTS */
  z-index: -1;
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 600ms, z-index 1ms 600ms;
  max-width: $tooltip-max-size;
  background: $tooltip-color;

  /* DESIGN */
  font-size: 13px;
  padding: 10px;
  font-weight: bold;
  border-radius: $border-radius * 2;
  line-height: $base-height / 2;
  text-align: center;
  color: $color;

  /* ARROW */
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
  }

  /* STATES */
  &[disabled]:not([open]) {
    opacity: 0;
  }
  &:not([disabled])[open] {
    opacity: 1;
    z-index: 9999;
    transition: opacity 600ms;
  }

  /* TOP / BOTTOM */
  &[direction=top], &[direction=bottom], &:not([direction]){
    left: 50%;
    transform: translateX(-50%);
    &:before {
      border-left: $tooltip-arrow-size solid transparent;
      border-right: $tooltip-arrow-size solid transparent;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* LEFT / RIGHT */
  &[direction=left], &[direction=right] {
    top: 50%;
    transform: translateY(-50%);
    &:before {
      border-top: $tooltip-arrow-size solid transparent;
      border-bottom: $tooltip-arrow-size solid transparent;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  /* BOTTOM */
  &[direction=bottom], &:not([direction]) {
    top: 100%;
    margin-top: $tooltip-gap;
    &:before {
      border-bottom: $tooltip-arrow-size solid $tooltip-color;
      top: -$tooltip-arrow-size;
    }
  }

  /* TOP */
  &[direction=top] {
    bottom: 100%;
    margin-bottom: $tooltip-gap;
    &:before{
      border-top: $tooltip-arrow-size solid $tooltip-color;
      bottom: -$tooltip-arrow-size;
    }
  }

  /* RIGHT */
  &[direction=right] {
    left: 100%;
    margin-left: $tooltip-gap;
    &:before {
      border-right: $tooltip-arrow-size solid $tooltip-color;
      left: -$tooltip-arrow-size;
    }
  }

  /* LEFT */
  &[direction=left] {
    right: 100%;
    margin-right: $tooltip-gap;
    &:before {
      border-left: $tooltip-arrow-size solid $tooltip-color;
      right: -$tooltip-arrow-size;
    }
  }

}