ui-toggle {

	/* VARIABLES */
	$toggle-width: 100px;

	/* DEFAULTS */
	overflow: hidden;
  display: inline-block;
	text-align: center;
	position: relative;
	cursor: pointer;
	font-weight: bold;

	/* STYLE */
	font-size: $font-size;
  height: $base-height;
  line-height: $base-height;
	border-radius: $border-radius;
  background-color: $background-color;
  background-image: $gradient;
  box-shadow: $plastic-shadow, $inset-shadow;
  text-shadow: $text-shadow;
  width: $toggle-width;
	color: $color;

	/* CHILDREN */
	& > * {
		width: 50%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		transition: 320ms;

		/* SEPARATOR */
		&:nth-child(2) {
			background: $info-color-hover;
			background-image: $gradient;
			border-radius: $border-radius - 1px;
			box-shadow: $shadow-flat;
			transform: translateX(100%);
		}

		&:nth-child(3) { transform: translateX(200%) }
	}

	/* STATES */
	&:not([checked]) {
		& > *:nth-child(1) { transform: translateX(-100%)	}
		& > *:nth-child(2) { transform: translateX(0%)  	}
		& > *:nth-child(3) { transform: translateX(100%)	}
	}
}

