@import url(http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body * {
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: Lato;
}

ui\:text, ui\:email,ui\:password, ui\:textarea {
	background: #ECF0F1;
	padding: 10px 10px;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	vertical-align: top;
}

ui\:textarea {
	height:  200px;
	resize: both;
	overflow: auto;
}

ui\:password {
	color: transparent;
}
ui\:password::selection {
	color: #ccc;
	background: #ccc;
}
ui\:password:before {
	content: attr(mask);
	padding: 10px 10px;
	position: absolute;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	color: #333;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

ui\:text:empty:after, ui\:email:empty:after, ui\:password:empty:after, ui\:textarea:empty:after {
	content: attr(placeholder);
	color: #ccc;
}

ui\:text:focus, ui\:email:focus, ui:\password:focus {
	content: attr(placeholder);
	color: #ccc;
}

ui\:dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #2980B9;
	overflow: auto;
	max-height: 200px;
	display: none;
	border-radius: 0 0 3px 3px;
	z-index: 10;
}
ui\:dropdown > *:last-child{
	border-radius: 0 0 3px 3px;
}

ui\:dropdown ui\:text {
	background: rgba(255,255,255,0.6);
	color: #333;
	width: 100%;
	border-radius: 0;
	padding: 0 10px;
}
ui\:select {
	background: #2980B9;
	padding: 0 10px;
	height: 40px;
	position: relative;
	line-height: 40px;
	display: inline-block;
	min-width: 200px;
	color: #ECF0F1;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
	vertical-align: top;
}
ui\:select:not([disabled]):hover {
	background: #3498DB;
}
ui\:select:before {
	border-bottom: 3px solid rgba(0,0,0,0.1);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
}
ui\:select:after {
	content: "\f078";
	font-family: FontAwesome;
	float: right;
}
ui\:select[disabled] {
	opacity: 0.4;
	cursor: auto;
}

ui\:option {
	display: block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background: #2980B9;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
ui\:option:hover {
	background: #3498DB;
}

ui\:checkbox {
	background: #2980B9;
	width: 40px;
	display: inline-block;
	height: 40px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
}
ui\:checkbox:hover {
	background: #3498DB;
}
ui\:checkbox:after{
	line-height: 40px;
	color: #2980B9;
	content: "\f00c";
	font-family: FontAwesome;
}
ui\:checkbox[checked]:after{
	color: #ECF0F1;
}

ui\:submit {
	padding: 7px 20px;
	display: inline-block;
	color: #ECF0F1;
	border-radius: 3px;
	background: #2C3E50;
	cursor: pointer;
	font-weight: bold;
}

ui\:submit:hover {
	background: #34495E;
}

ui\:markup {
	white-space: pre-wrap;
	display: inline-block;
	padding: 20px;
	background: #ECF0F1;
	border-radius: 3px;
}

ui\:pager {
	display: block;
	width: 320px;
	height: 480px;
	position: relative;
	overflow: hidden;
	background: #333;
}

@keyframes in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes out {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
ui\:pager ui\:page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	transform: translateX(100%);
	transition: 320ms;
	animation: out 600ms both;
}
ui\:pager ui\:page[active] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	animation: in 600ms both;
}