@import url(http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body * {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	user-select: none;
}

body {
	color: #333;
	font-family: Lato;
	padding: 30px;
	background-color: #ECF0F1;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.container > ui-markup {
	width: 100%
}

ui-text, ui-email, ui-password, ui-textarea {
	background: #ECF0F1;
	padding: 10px 10px;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	vertical-align: top;
}

ui-textarea {
	height:  200px;
	resize: both;
	overflow: auto;
}

ui-password {
	color: transparent;
}
ui-password::selection {
	color: #ccc;
	background: #ccc;
}
ui-password:before {
	content: attr(mask);
	padding: 10px 10px;
	position: absolute;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	color: #333;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

ui-text:empty:after, ui-email:empty:after, ui-password:empty:after, ui-textarea:empty:after {
	content: attr(placeholder);
	color: #ccc;
}

ui-text:focus, ui-email:focus, ui-\password:focus {
	content: attr(placeholder);
	color: #ccc;
}


ui-option {
	display: block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background: #2C3E50;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #ECF0F1;
	white-space: nowrap;
}
ui-option:hover {
	background: #34495E;
}

ui-checkbox {
	background: #2C3E50;
	width: 40px;
	display: inline-block;
	height: 40px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
}
ui-checkbox:hover {
	background: #34495E;
}
ui-checkbox:after{
	line-height: 40px;
	color: rgba(255,255,255,0.2);
	content: "\f00c";
	font-family: FontAwesome;
}
ui-checkbox[checked]:after{
	color: #ECF0F1;
}

ui-submit {
	padding: 7px 20px;
	display: inline-block;
	color: #ECF0F1;
	border-radius: 3px;
	background: #2C3E50;
	cursor: pointer;
	position: relative;
	font-weight: bold;
}
ui-submit:hover {
	background: #34495E;
}

ui-markup {
	white-space: pre-wrap;
	display: inline-block;
	padding: 20px;
	background: #dbe3e5;
	border-radius: 3px;
	color: #333;
	font-weight: 400;
	tab-size: 10px;
}

ui-pager {
	display: block;
	width: 320px;
	height: 480px;
	position: relative;
	overflow: hidden;
	background: #333;
}

ui-pager ui-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	transition: opacity 500ms, z-index 1ms 500ms;
	z-index: -1;
	opacity: 0;
}
ui-pager ui-page[active] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 9999;
	opacity: 1;
	transition: opacity 500ms 500ms
}

/* CUSTOM */
ui-listitem {
	display: block;
	background: #eee;
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 1px;
}
ui-listitem[done] ui-text{
	text-decoration: line-through;
}
ui-listitem ui-text{
	padding-right: 50px;
	width: 100%;
	text-align: left;
}
ui-listitem ui-checkbox{
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0;
}