ui-password {
  @extend ui-input;
  color: transparent;
}
ui-password::selection {
  color: #ccc;
  background: #ccc;
}
ui-password:before {
  content: attr(mask);
  padding: 10px 10px;
  position: absolute;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
  top: 0;
  left: 0;
  right: 0;
}
ui-password:empty:after {
  @extend ui-input:empty:after;
}