.col
  h1 Select
  p The select element recreated with just CSS / JS.
  dl
    dt @value
    dd Get the current value of the component (selected options value)
    dt @selectedOption
    dd Get the selected option
    dt ~ selectDefault()
    dd
      | Select option by the default algorithm:
      ol
        li First option element with selected attribute
        li First option element
    dt ~ select(value=ui:option|string)
    dd Select by option value / text or by ui:option element directly
    dt × change
    dd Fires every time the selected option changes
.col
  .examples
    .span
      ui:select(name='select_2')
        ui:label
        ui:dropdown
          ui:option(value='option_1') Option 1
          ui:option(value='option_2') Option 2
          ui:option(value='option_3') Option 3
    .span
      ui:select(name='select_3', disabled='true')
        ui:label
        ui:dropdown
          ui:option(value='option_1') Option 1
          ui:option(value='option_2', selected='true') Option 2
          ui:option(value='option_3') Option 3
    .clear
  .markup
    ui:markup
      ui:select
        ui:label
        ui:dropdown
          ui:option(value='option_1') Option 1
          ui:option(value='option_2') Option 2
          ui:option(value='option_3') Option 3