ui\:select {
  background: #2980B9;
  padding: 0 10px;
  height: 40px;
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 200px;
  color: #ECF0F1;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: top;
}
ui\:select:not([disabled]):hover {
  background: #3498DB;
}
ui\:select:before {
  border-bottom: 3px solid rgba(0,0,0,0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
ui\:select:after {
  content: "\f078";
  font-family: FontAwesome;
  float: right;
}
ui\:select[disabled] {
  opacity: 0.4;
  cursor: auto;
}