html {
  -ms-touch-action: none;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ui-select, ui-button, ui-label { text-transform: capitalize; }
ui-label { font-weight: bold; }
ui-cell { background-color: #eee; }
h3 { margin-top: 0; }

.container {
  display: none;
  height: 100%;
  ul {
    box-shadow: -1px 0 0 #555 inset, 2px 0 6px rgba(0,0,0,0.2);
    position: absolute;
    background: #333;
    list-style: none;
    width: 200px;
    float: left;
    z-index: 1;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    top: 0;
    li {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      text-shadow: 0 -1px 1px #111;
      padding: 7px 10px;
      font-weight: bold;
      cursor: pointer;
      color: #ddd;

      &:hover { color: #eee }
      &:first-child {
        font-size: 18px;
        background-color: #444;
        border-bottom: 1px solid #222;
        box-shadow: 0 -1px 0 #555 inset;
      }
      &.active {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 48%, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.05));
        box-shadow: 0 -1px 0 #555 inset, 0 1px 0 #555 inset;
        border-bottom: 1px solid #222;
        border-top: 1px solid #222;
        background-color: #444;
      }
    }
  }

  > ui-pager {
    background: #fcfcfc;
    margin-left: 200px;
    height: 100%;
    width: auto;
    color: #333;

    pre {
      background:#fff;
      overflow: hidden;
      float: right;
      height: 50%;
      width: 60%;
      margin: 0;
      code {
        background: transparent;
        padding: 10px;
      }
    }

    dl, dd, dt {
      margin: 0;
      padding: 0;
    }

    dl {
      background-color: #eee;
      position: relative;
      padding: 10px 25px;
      padding-top: 0;
      float: left;
      height: 50%;
      width: 40%;

      dd,dt {
        line-height: 36px;
        margin-top: 10px;
        height: 36px;
        float: left;
      }
      dt {
        width: 120px;
        clear: both;
      }
      dd > * {
        width: 120px;
      }
      dd ui-button {
        letter-spacing: 1px;
        text-align: center;
      }
    }
    > ui-page {
      background: #fcfcfc;

      ui-pager {
        height: 200px;
        ui-page {
          text-transform: uppercase;
          line-height: 200px;
          text-align: center;
          font-weight: bold;
          font-size: 26px;
          &:first-child { background: #2980B9; }
          &:last-child { background: #27AE60;  }
        }
      }

      section {
        background-image: url(/assets/static/graphy.png);
        box-shadow: 0 -1px 0 #ddd inset;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        height: 50%;

        &:after, &:before {
          border: 1px solid #ddd;
          font-family: "Lato";
          position: absolute;
          padding: 10px 20px;
          font-weight: bold;
          display: block;
          bottom: -1px;
        }
        &:before {
          border-top-right-radius: 5px;
          content: "Controls";
          background: #eee;
          left: 0px;
        }
        &:after {
          border-top-left-radius: 5px;
          content: "Examples";
          background: #fff;
          right: 0;
        }

        &  > *:first-child {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          max-height: 80% !important;
          max-width: 60%;
        }
      }
    }
  }
}