html {
  -ms-touch-action: none;
}

h1 {
  text-align: center;
}

ui-modal {
  h3 {
    text-align: center;
    margin-top: 0;
  }
  ui-button {
    margin-right: 0;
  }
}

.container {
  width: 960px;
  height: 800px;
  margin: 0 auto;
  display: none;
  padding: 3px;
  box-shadow: 0 3px 30px rgba(0,0,0,0.3);
  ul {
    height: 794px;
    width: 200px;
    float: left;
    background: #333;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
    box-shadow: -1px 0 0 #555 inset, 2px 0 6px rgba(0,0,0,0.2);
    li {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 0 -1px 1px #111;
      color: #ddd;
      &:hover {
        color: #eee
      }
      &.active {
        box-shadow: 0 -1px 0 #555 inset, 0 1px 0 #555 inset;
        background: #444;
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
      }
    }
  }

  > ui-pager {
    height: 794px;
    width: 754px;
    background: #fcfcfc;
    ui-page {
      background: #fcfcfc;
      section {
        padding: 20px;
      }
      .showcase {
        position: relative;
        height: 300px;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 -3px 5px rgba(0,0,0,0.05) inset;
        margin: -20px;
        margin-bottom: 0;
        background-image: url(/assets/graphy.png);
      }
      .showcase > *:first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
      }
    }
    &:after {
      content: "";
      clear:both;
      display: block;
    }
  }
}



body {
  padding: 0 50px;
  background: #ddd;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}
.component {
  position: relative;
  min-height: 35px;
  padding-left: 200px;
}
.extend {
  margin-left: 10px;
  color: #aaa;
}
.separator {
  display: inline-block;
  width: 1px;
  background: #aaa;
  height: 26px;
  margin-bottom: 12px;
  margin-right: 10px;
}
ui-button, ui-select, ui-checkbox, ui-radio, ui-toggle{
  margin-right: 10px;
}
.component > span {
  height: 35px;
  line-height: 35px;
  display: inline-block;
}
ui-radio, ui-toggle, ui-button, ui-select, ui-checkbox, .component > span, ui-text, ui-password, ui-textarea, ui-color{
  margin-bottom: 10px;
}
.component > ui-label {
  width: 200px;
  position: absolute;
  line-height: 35px;
  top: 0;
  left: 0;
  display: block;
}