#= depend_on ./ui-button
#= depend_on ./ui-checkbox
#= depend_on ./ui-dropdown
#= depend_on ./ui-modal
#= depend_on ./ui-select
#= depend_on ./ui-tooltip
#= depend_on ./ui-text
#= depend_on ./ui-number
#= depend_on ./ui-email
#= depend_on ./ui-textarea
#= depend_on ./ui-option
#= depend_on ./ui-pager
#= depend_on ./ui-toggle
#= depend_on ./ui-radio
#= depend_on ./ui-range
#= depend_on ./ui-color
#= depend_on ./ui-color-picker
#= depend_on ./ui-grid
#= depend_on ./ui-input
#= depend_on ./ui-slider
#= depend_on ./ui-form
#= depend_on ./ui-context

@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* BASIC VALUES */
$gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 48%, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.05));
$border-radius: 3px;
$base-height: 36px;
$font-size: 14px;

/* COLORS */
$opaque-color: rgba(0,0,0,0.9);
$background-color-hover: #555;
$background-color: #444;
$color: #ECF0F1;

$info-color-hover: #3498DB;
$info-color: #2980B9;

$success-color-hover: #2ECC71;
$success-color: #27AE60;

$warning-color-hover: #E67E22;
$warning-color: #D35400;

$danger-color-hover: #E74C3C;
$danger-color: #C0392B;

$inverse-color-hover: #FFFFFF;
$inverse-color: #ECF0F1;

/* TRANSITIONS */
$transition-normal: 320ms;
$transition-short: 160ms;

/* SHADOWS */
$focus-shadow: 0 0 10px $warning-color-hover;

$plastic-shadow-active: 0 -1px 2px rgba(255,255,255,0.3) inset, 0 1px 2px rgba(0,0,0,0.1) inset, 0 2px 2px rgba(0,0,0,0.15) inset, 0 2px 2px rgba(0,0,0,0.15);
$plastic-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 -1px 1px rgba(0,0,0,0.3) inset, 0 2px 2px rgba(0,0,0,0.15);
$plastic-shadow-focus: $plastic-shadow, $focus-shadow;

$text-shadow: 0 1px 1px rgba(0,0,0,0.4);
$text-shadow-inverse: 0 -1px 1px rgba(0,0,0,0.4);

$inset-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
$shadow-flat: 0 0 10px rgba(0,0,0,0.5);
$shadow: 0 2px 10px rgba(0,0,0,0.2);

body {
  font-family: Lato;

  * {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    user-select: none;
  }
}

[disabled] { opacity: 0.5; }
*:focus{
  outline: none;
  box-shadow: $focus-shadow;
}

@import "ui-input.scss";
@import "ui-button.scss";
@import "ui-checkbox.scss";
@import "ui-dropdown.scss";
@import "ui-modal.scss";
@import "ui-select.scss";
@import "ui-tooltip.scss";
@import "ui-text.scss";
@import "ui-number.scss";
@import "ui-email.scss";
@import "ui-textarea.scss";
@import "ui-option.scss";
@import "ui-pager.scss";
@import "ui-toggle.scss";
@import "ui-radio.scss";
@import "ui-range.scss";
@import "ui-slider.scss";
@import "ui-color.scss";
@import "ui-color-picker.scss";
@import "ui-grid.scss";
@import "ui-form.scss";
@import "ui-context.scss";
