ui-button {

  /* FIXES */
  transition: 1ms; // Chrome bug: it draws the elements the same when in the same container

  /* DEFAULTS */
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-weight: bold;

  /* STYLES */
  background-color: $background-color;
  line-height: $base-height - 2px;
  transition: $transition-normal;
  border-radius: $border-radius;
  background-image: $gradient;
  box-shadow: $plastic-shadow;
  text-shadow: $text-shadow;
  padding: 0 $base-height/2;
  font-size: $font-size;
  height: $base-height;
  color: $color;

  /* STATES */
  &:not([disabled]){ cursor: pointer; }
  &:not([disabled]):hover { background-color: $background-color-hover; }
  &:focus{ box-shadow: $plastic-shadow-focus; }

  /* ICONS */
  i:first-child { margin-right: 5px; }
  i:last-child  { margin-left: 5px;  }

  /* TYPES */
  &[type=info]          { background-color: $info-color;          }
  &[type=info]:not([disabled]):hover    { background-color: $info-color-hover;    }

  &[type=success]       { background-color: $success-color;       }
  &[type=success]:not([disabled]):hover { background-color: $success-color-hover; }

  &[type=warning]       { background-color: $warning-color;       }
  &[type=warning]:not([disabled]):hover { background-color: $warning-color-hover; }

  &[type=danger]        { background-color: $danger-color;        }
  &[type=danger]:not([disabled]):hover  { background-color: $danger-color-hover;  }

  &[type=inverse]:not([disabled]):hover { background-color: $inverse-color-hover; }
  &[type=inverse] {
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
    background-color: $inverse-color;
    color: $background-color;
  }
}
