ui-grid {

  /* VARIABLES */
  $grid-cell-min-height: 50px;
  $grid-cell-padding: 10px;

  /* DEFAULTS */
  text-align: justify;
  font-size: 0.1px;
  display: block;
  width: 100%;

  /* CLEARFIX */
  &:after{
    display: inline-block;
    content: '';
    width: 100%;
  }

  /* CHILDREN */
  ui-cell {
    min-height: $grid-cell-min-height;
    padding: $grid-cell-padding;
  }
  ui-cell, ui-placeholder {
    display: inline-block;
  }

  /* STATES */
  &[columns="1"] {
    ui-cell, ui-placeholder{
      margin-bottom: 1%;
      width: 100%;
    }
  }
  &[columns="2"] {
    ui-cell, ui-placeholder{
      margin-bottom: 2%;
      width: 49%;
    }
  }
  &[columns="3"] {
    ui-cell, ui-placeholder{
      margin-bottom: 2%;
      width: 32%;
    }
  }
  &[columns="4"] {
    ui-cell, ui-placeholder{
      margin-bottom: 2.5%;
      width: 23%;
    }
  }
  &[columns="5"] {
    ui-cell, ui-placeholder{
      margin-bottom: 1%;
      width: 19%;
    }
  }
}