ui-modal {

  /* VARIABLES */
  $modal-padding: 20px;

  /* DEFAULTS */
  transition: opacity $transition-normal, z-index 1ms $transition-normal;
  position: absolute;
  z-index: -1;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  /* STYLES */
  background: $opaque-color;

  /* STATES */
  &[disabled] { opacity: 0; }
  &[open]:not([disabled]) {
    transition: opacity $transition-normal;
    z-index: 9999;
    opacity: 1;
  }
  &[open]:not([disabled]) > *{
    transform: translateY(-70%) translateX(-50%);
    opacity: 1;
  }

  /* CONTENT */
  & > * {

    /* DEFAULTS */
    transform: translateY(-100%) translateX(-50%);
    transition: $transition-normal;
    position: absolute;
    display: block;
    opacity: 0;
    left: 50%;
    top: 50%;

    /* DESIGN */
    border-radius: $border-radius * 2;
    background: $inverse-color;
    padding: $modal-padding;
    box-shadow: $shadow;
  }
}