ui-option {

  /* DEFAULTS */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;

  /* STYLES */
  line-height: $base-height / 1.2;
  padding: 0 $base-height / 3;
  height: $base-height / 1.2;
  font-weight: bold;
  color: $color;

  /* STATES */
  &:hover { background: rgba(255,255,255,0.1); }
}