/* ANIMATIONS */
@keyframes pager-in {
  from { left: 100%; }
  to   { left: 0;    }
}
@keyframes pager-out {
  from { left: 0%;    }
  to   { left: -100%; }
}

ui-pager {

  /* VARIABLES */
  $pager-height: 480px;
  $pager-width: 320px;

  /* DEFAULTS */
  position: relative;
  overflow: hidden;
  display: block;

  /* STYLES */
  background: $background-color;
  height: $pager-height;
  width: $pager-width;
  color: $color;

  /* CHILDREN */
  & ui-page {
    animation: pager-out 1ms 1 both;
    position: absolute;
    display: block;
    width: 100%;
    left: 100%;
    bottom: 0;
    left: 0;
    top: 0;
  }
  & ui-page[active] { animation: pager-in 1ms 1 both; }
}

/* STATES */
body[loaded] ui-page {
  animation: pager-out $transition-normal 1 both;
  left: -100%
}
body[loaded] ui-page[active] {
  animation: pager-in $transition-normal 1 both;
  left: 0%
}