ui-range {

  /* VARIABLES */
  $range-track-color: #777;
  $range-knob-size: 20px;
  $range-width: 150px;

  /* DEFAULTS */
  display: inline-block;
  position: relative;
  cursor: pointer;

  /* STYLES */
  background-color: $range-track-color;
  border-radius: $base-height/3;
  margin: 0 $range-knob-size/2;
  box-shadow: $inset-shadow;
  min-width: $range-width;
  height: $base-height/3;

  &> *:first-child {
    height: $base-height / 3;
    position: absolute;
    width: 0;
    top: 0;
  }

  /* KNOB */
  & > *:first-child > *:first-child{

    /* DEFAULTS */
    position: relative;
    display: block;
    content: "";

    /* STYLES */
    background-color: $background-color;
    left: -$range-knob-size / 2;
    transform: translateY(-50%);
    height: $range-knob-size;
    width: $range-knob-size;
    box-shadow: $shadow;
    border-radius: 50%;
    top: 50%;

    &:before {
      height: $range-knob-size/2;
      width: $range-knob-size/2;
      left: $range-knob-size/4;
      top: $range-knob-size/4;
      box-shadow: $shadow;
      border-radius: 50%;
      position: absolute;
      background: $color;
      content: "";
      z-index: 1;
    }
  }
}