ui-tooltip {

  /* VARIABLES */
  $tooltip-color: $opaque-color;
  $tooltip-max-size: 200px;
  $tooltip-arrow-size: 6px;
  $tooltip-gap: 10px;

  /* DEFAULTS */
  transition: opacity $transition-normal, z-index 1ms $transition-normal;
  max-width: $tooltip-max-size;
  background: $tooltip-color;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 0;

  /* STYLES */
  border-radius: $border-radius * 2;
  line-height: $base-height / 2;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  color: $color;

  /* ARROW */
  &:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
  }

  /* STATES */
  &[disabled]:not([open]) { opacity: 0; }
  &:not([disabled])[open] {
    transition: opacity 600ms;
    z-index: 9999;
    opacity: 1;
  }

  /* TOP / BOTTOM */
  &[direction=top], &[direction=bottom], &:not([direction]){
    transform: translateX(-50%);
    left: 50%;
    &:before {
      border-right: $tooltip-arrow-size solid transparent;
      border-left: $tooltip-arrow-size solid transparent;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  /* LEFT / RIGHT */
  &[direction=left], &[direction=right] {
    transform: translateY(-50%);
    top: 50%;
    &:before {
      border-bottom: $tooltip-arrow-size solid transparent;
      border-top: $tooltip-arrow-size solid transparent;
      transform: translateY(-50%);
      top: 50%;
    }
  }

  /* BOTTOM */
  &[direction=bottom], &:not([direction]) {
    margin-top: $tooltip-gap;
    top: 100%;
    &:before {
      border-bottom: $tooltip-arrow-size solid $tooltip-color;
      top: -$tooltip-arrow-size;
    }
  }

  /* TOP */
  &[direction=top] {
    margin-bottom: $tooltip-gap;
    bottom: 100%;
    &:before{
      border-top: $tooltip-arrow-size solid $tooltip-color;
      bottom: -$tooltip-arrow-size;
    }
  }

  /* RIGHT */
  &[direction=right] {
    margin-left: $tooltip-gap;
    left: 100%;
    &:before {
      border-right: $tooltip-arrow-size solid $tooltip-color;
      left: -$tooltip-arrow-size;
    }
  }

  /* LEFT */
  &[direction=left] {
    margin-right: $tooltip-gap;
    right: 100%;
    &:before {
      border-left: $tooltip-arrow-size solid $tooltip-color;
      right: -$tooltip-arrow-size;
    }
  }

}