ui-textarea {
  @extend ui-input;

  /* DEFAULTS */
  min-height:  200px;
  overflow: auto;
  resize: both;

  &:focus { @extend ui-input:focus; }
  &:empty:after { @extend ui-input:empty:after; }
  &[invalid]{ @extend ui-input[invalid]; }
  &[valid]{ @extend ui-input[valid]; }
}