.container
  p Standard button
  span
    ui:button Default button
  span
    ui:button(type='danger') Danger button
  span
    ui:button(type='info') Info button
  h2 Markup
  ui:markup
    ui:button Default button